<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcoder.community.dao.DiscussPostMapper">
    <sql id="selectFields">
-- 要查询的字段有哪些
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>
<!--    指定对应关系-->
    <select id="selectDiscussPosts" resultType="DiscussPost">
-- 引用要查询哪些字段，复用了上面那段
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId!=0">
--           #{}表示从dao传入的参数中取，user_id是字段名，userId是方法传入的参数
            and user_id = #{userId}
        </if>
--     先按type排序，再看create_time
        order by type desc, create_time desc
--         oracle分页的方法
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
<!--    指定绑定的Mapper的方法名 以及model-->
    <insert id="insertDiscussPost" parameterType="DiscussPost">
-- refid是引用上面的sql组件
        insert  into discuss_post(<include refid="insertFields"></include>)
--         这些值是mapper里面的的参数DiscussPost类的赋值属性
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>
<!--    id是map里面定义的方法名-->
    <select id="selectDiscussPostById" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where id=#{id}
    </select>

</mapper>