<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--先定义复用字段，再定义-->
<mapper namespace="com.newcoder.community.dao.MessageMapper">
    <sql id="selectFields">
        id,from_id,to_id,conversation_id,content,status,create_time
    </sql>
    <sql id="insertFields">
        from_id,to_id,conversation_id,content,status,create_time
    </sql>
<!--    定义Mapper绑定的方法名-->
    <select id="selectConversations" resultType="Message">
-- 给定复用的代码
        select <include refid="selectFields"></include>>
        from message
        where id in(select max(id) from message
            select status!=2
            and from_id!=1
            and(from_id=#{userId} or to_id=#{userId})
            group by conversation_id;
        )
        order by id desc
        limit #{offset},#{limit}
    </select>



</mapper>